.navbar {
  width: 100%;
  padding: 20px 6px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 10%,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 1;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}
.navbar-left img {
  width: 90px;
}
.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbar-left ul li {
  cursor: pointer;
}
.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar-right .icons {
  font-size: 20px;
  cursor: pointer;
}
.nabar-right .profile {
  width: 30px;
  border-radius: 4px;
  cursor: pointer;
}
.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
.navbar .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #191919;
  padding: 18px 22px;
  border-radius: 2px;
  text-decoration: underline;
  z-index: 1;
  display: none;
}
.navbar .dropdown p {
  font-size: 13px;
  cursor: pointer;
}
.navbar-profile:hover .dropdown {
  display: block;
}
